$abacus-border-colour: #222244;
$abacus-border-width: 4px;
$abacus-background-colour: #b5b5b5;

$bead-height: 30px;
$bead-width: 60px;
$bead-colour: #b22222;
$bead-horizontal-margin: 6px;
$bead-vertical-margin: 1px;

$bead-move-distance: calc(#{$bead-height} + calc(2 * #{$bead-vertical-margin}));
$abacus-heavenly-height: calc(2 * #{$bead-move-distance});
$abacus-earthly-height: calc(5 * #{$bead-move-distance});

$digit-width: calc(#{$bead-width} + calc(2 * #{$bead-horizontal-margin}));
$abacus-background-layer-1-width: calc(calc(#{$digit-width} / 2) - #{$abacus-border-width});
$abacus-background-layer-2-width: calc(calc(#{$digit-width} / 2) + #{$abacus-border-width});
